body, #galleria {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#galleria {
  background: #000;
  min-height: 100%;
}

#galleria h2 {
  color: white;
  display: inline;
  background-color: black;
  padding: 5px;

  background-color: rgba(0, 0, 0, 0.5);
}
